*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
 
    background-color: antiquewhite;
}
#div-container{ 
   
    height: 100vh;
    display: grid;
    grid-template-rows: 110px 1fr 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
header{
    grid-area: 1/1/2/5;
}
.div-data{
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    background-color: #255538;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
}
.div-info{
    display: flex;
    gap: 20px;
}
.title{
    color: white;
}
.recipe{
    margin-top: 5px;
    color: white;
}
.fa-solid{
    color:black;
     
}
.nigth-button{
    padding-right: 20px;
    padding-left: 20px;
    background-color: white;
    border-radius: 50px;

}
main{
    display: grid;
    grid-area: 2/1/3/5;
 
}
.intro{
    width:90%;
    margin: 0 auto;
    height: 368px;
    display: flex;
    justify-content: start; 
    border: 1px solid black;
    background-image: url("../img/5a80e6e1cd7c7ea0f50d200b0ad11587.png");
}

.data-img{
    
    padding-top: 130px;
    color: white;
    font-size: 30px;
}
.platos-info{
    width: 90%;
    margin: 0 auto;
   
    display: grid;
    grid-template-rows: 368px 368px;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}
.data-info-div{
 
    background-color: white;
    padding: 10px;
}

.img-comida-uno img{
    width: 100%;
}
.info-comida-uno{
    padding-left: 20px;
    padding-bottom: 20px;
}
@media screen and (max-width: 1200px) {
    
    .platos-info{
        display: grid;
         
        grid-template-rows: 368px 368px;
        grid-template-columns: 1fr 1fr ;
    }
}
@media screen and (max-width: 882px) {
    
    .platos-info{
        display: grid;
         
        grid-template-rows: 368px 368px;
        grid-template-columns: 1fr;
    }
}
 