*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: antiquewhite;
}
body.dark-mode {
    background-color: #222;  
     
}
.container{
  height: 100vh;
    display: grid;
    grid-template-rows: 110px 1fr ;
    grid-template-columns: 1fr 1fr 1fr   ;
   
}
header{
     
    grid-area: 1/1/2/7;
  
}
main{
  
 
    grid-area: 3/2/2/2;
     
}
footer{
  
    display: grid;
    grid-area: 4/4/5/1;
}
.div-data{
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    background-color: #255538;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
}
.div-info{
    display: flex;
    gap: 20px;
}
.title{
    color: white;
}
.title a{
    color: white;
    text-decoration: none;
}
.recipe{
    margin-top: 5px;
    color: white;
}
.recipe a{
    text-decoration: none;
    color: white;
}
.fa-solid{
    color:black;
     
}
.nigth-button{
    padding-right: 20px;
    padding-left: 20px;
    background-color: white;
    border-radius: 50px;

}
.container-formulario{
    
    background-color: white;
    height: 500px;
    padding: 20px;
}
.dark-mode .container-formulario{
    background-color:  #2F2F2F;
}
.container-formulario h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: #7E4333;
}
.container-formulario p{
     
    margin-bottom: 20px;
    font-size: 10px;
}
.dark-mode .container-formulario p{
     
    color: white;
}
.dark-mode .form-group input,.dark-mode .form-group textarea{
    background-color:  #4E4D4E;
}
.form-group{
    padding-top: 10px;
}
.form-group input,.form-group textarea{
    width: 100%;
    background-color: #DFDFDF;
    border: none;
    
}
.form-group label{
    font-weight: bold;
    color: #7E4333;
}
.container-formulario button{
    background-color: #255538;
    border: none;
    color: white;
    border-radius: 5px;
     padding: 8px 20px 8px 20px;
    
}
.container-formulario .button-div{
   
  padding-top: 20px;
}
.div-data .div-info-footer{
    color: white;
    padding-top: 14px;
}
@media screen and (max-width:745px) {
     
    .container{
      
     
        grid-template-rows: 110px 1fr  ;
        grid-template-columns: 1fr ;
    }
    .container-formulario{
        margin-top: 200px;
    }
}