*{
    box-sizing: border-box;
    margin:0;
}
#div-container{
    height: 100vh;
    display: grid;
    grid-template-rows: 110px 1fr 1fr 100px ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
}
body{
    
    background-color: antiquewhite;
}
body.dark-mode {
    background-color: #222;  
     
}
header{
    grid-area: 1/1/2/7;
  
}
.div-data{
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    background-color: #255538;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
}
.div-info{
    display: flex;
    gap: 20px;
}
.title a{
    text-decoration: none;
    color: white;
}
.recipe {
    
    margin-top: 5px;
    color: white;
}
.recipe a {
    text-decoration: none;
    color: white;
}
.fa-solid{
    color:black;
     
}
.nigth-button{
    padding-right: 20px;
    padding-left: 20px;
    background-color: white;
    border-radius: 50px;

}
main{
    padding-top: 20px;
    display: grid;
    grid-area: 2/1/3/6;
    margin-right: 190px;
    margin-bottom: 20px;
}
aside{
    padding-top: 20px;
    display: grid;
    grid-area: 2/5/3/7;
    margin-right: 80px;
    margin-left: 100px;
    height: 20px;
}
footer{
    display: grid;
    grid-area: 4/7/4/1;
    
}
.img-receta{
   padding: 20px;
   
}
.img-receta img{
     
     width: 100%;
     height: 250px;
     border-radius: 10px;
}
 .data-receta {
    background-color: white;
    margin-left: 80px;
    border-radius: 10px;
     
}
.dark-mode .data-receta {
    background-color:  #2F2F2F;
     
}
.info-receta{
    padding-left: 20px;
   
}
.Ingredients-receta{
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
   
    
}
.Ingredients-receta h2 {
    
    padding-bottom: 20px;
    color: #7E4333;
}
.dark-mode .Ingredients-receta {
    background-color: #4E4D4E;
}
.dark-mode .Ingredients-receta ul {
     color: white;
}
.Ingredients-receta ul{
    padding-bottom: 20px;
}
.calorias-data span{
    color: #7E4333;
}
.dark-mode .calorias-data h3,.dark-mode .calorias-data span{
    color: white;
}
.linea-horizontal {
    border-top: 1px solid #000;  
  
    margin: 20px 0; 
}
.first-info{
    margin-top: 20px;
    margin-bottom: 20px;
}
.dark-mode .first-info p{
    color: white;
}
.first-info h1{
    color: #7E4333;
     font-family: serif;
}
.preparation-receta{
    background-color:beige;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
   
}
.dark-mode .preparation-receta ul li{
    color: white;
}
.dark-mode .preparation-receta {
    background-color: #4E4D4E;
}
.more-recetas{
    background-color: white;
    border-radius: 10px;
    padding: 20px; 
     
}
.dark-mode .more-recetas{
    background-color:#4E4D4E ;
}
.dark-mode .more-data-receta h3,.dark-mode .more-data-receta p {
     color: white;
}
.dark-mode .info-receta ol li{
    color: white;
}
.more-recetas h2{
    padding-bottom: 20px;
}
.img-more-receta img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.calorias-data{
   display: flex;
   justify-content: space-between;
}
.data-img-more-receta{
    display: flex;
    gap: 20px;

}
.more-data-receta h3,.more-data-receta a{
    color: black;
    text-decoration: none
}
.more-recetas h2{
    color: #7E4333;
}
.preparation-receta h2{
    color: #7E4333;
    padding-bottom: 20px;
}
.Instructions-data-dos{
    color: #7E4333;
    padding-bottom: 20px;
}
footer   h3{
    color: white;
    padding-top: 15px;
}
footer h1{
    color: white;
}
@media screen and (max-width:1200px) {
    .data-receta{
        margin: 0;
    }
    #div-container{
        height: 100vh;
        display: grid;
        grid-template-rows: 110px 1fr 650px 100px ;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    }
    main{
        display: grid;
        grid-area: 3/1/2/7;
        margin: 20px;
    }
     aside{
        margin: 0px 20px 20px 20px ;
      
       
        grid-area: 3/1/3/8;
        
     }
     footer{}
}